{% extends base_template %}
{% load questions %}

{% block content %}
    <h1>{{ question.title }}</h1>
    <div class="pure-g">
        <div class="vote pure-u-1-8">
            <a href="{% url 'questions:upvote' question.pk %}" class="button-xsmall pure-button"><i class="fa fa-thumbs-up fa-1g" aria-hidden="true"></i></a>
            <p>{{ question.votes }}</p>
            <a href="{% url 'questions:downvote' question.pk %}" class="button-xsmall pure-button"><i class="fa fa-thumbs-down fa-1g" aria-hidden="true"></i></a>
        </div>
        <div class="pure-u-7-8">
            <div>
                {{ question.body|safe }}
            </div>
            {% tag_list question %}
            <p>Asked by <i>{% display_name question %}</i>
            </p>

            <h3>Comments:</h3>
            {% comment_list question %}

            <div>
                <label for="comment-q">Add comment</label>
                <input type="checkbox" id="comment-q" class="add-comment">

                <form action="{% url 'questions:comments:submit:q' question.pk %}" method="post" class="comment-form pure-form pure-form-stacked">
                    {% csrf_token %}
                    {{ comment_form.media }}
                    {{ comment_form }}
                    <br/>
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <hr/>
    <h2>Answers:</h2>
    {% answer_list question %}
    <hr/>

    {% if user.is_authenticated %}
        <form action="{% url 'questions:answers:submit' question.pk %}" method="post" class="pure-form pure-form-stacked">
            {% csrf_token %}
            {{ answer_form.media }}
            {{ answer_form }}
            <br/>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </form>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to answer questions.</p>
    {% endif %}

{% endblock %}