{% load questions %}
{% if answers %}
    {% for answer in answers %}
        <div class="answer pure-g" {% if answer.accepted %}style="background-color: #00FF00"{% endif %}>
            <div class="vote pure-u-1-8">
                <a href="{% url 'questions:answers:upvote' answer.pk %}" class="button-xsmall pure-button"><i class="fa fa-thumbs-up fa-1g" aria-hidden="true"></i></a>
                <p>{{ answer.votes }}</p>
                <a href="{% url 'questions:answers:downvote' answer.pk %}" class="button-xsmall pure-button"><i class="fa fa-thumbs-down fa-1g" aria-hidden="true"></i></a>
                {% if answer.question.author.pk == user.pk and not accepted %}
                    <p><a href="{% url 'questions:answers:accept' answer.pk %}">Accept</a></p>
                {% elif answer.accepted %}
                    <p>Accepted answer</p>
                {% endif %}
            </div>
            <div class="answer-body pure-u-7-8">
                <div>{{ answer.body|safe }}</div>
                Asked by <i>{% display_name answer %}</i>
                <hr/>

                {% comment_list answer.question answer %}
                <div>
                    <label for="comment-a-{{ answer.pk }}">Add comment</label>
                    <input type="checkbox" id="comment-a-{{ answer.pk }}" class="add-comment">

                    <form action="{% url 'questions:comments:submit:a' question.pk answer.pk %}" method="post" class="comment-form pure-form pure-form-stacked">
                        {% csrf_token %}
                        {{ comment_form.media }}
                        {{ comment_form }}
                        <br/>
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>There are currently no answers.</p>
{% endif %}