{% load questions %}
{% load users %}
{% load i18n %}
{% if answers %}
    {% for answer in answers %}
        <div class="pble-a-list-item hentry answer {{ answer.accepted|yesno:"answer-selected pble-a-list-item-selected," }}">
            {% voting answer %}
            <div class="pble-a-item-main">
                {% if answer.question.author.pk == user.pk and not accepted %}
                    <div class="pble-a-selection">
                        <a href="{% url 'pble_questions:answers:accept' answer.pk %}"><input type="submit" value="" title="{% trans 'Click to select as best answer' %}" class="pble-a-select-button"></a>
                    </div>
                {% elif answer.accepted %}
                    <div class="pble-a-selection">
                        <a href="{% url 'pble_questions:answers:accept' answer.pk %}">
                            <input type="submit" value="" class="pble-a-unselect-button" title="{% trans 'Best answer' %}">
                            <div class="pble-a-selected-text">{% trans 'Best answer' %}</div>
                        </a>
                    </div>
                {% endif %}
                <div class="pble-a-item-content">
                    <div class="entry-content">{{ answer.body|safe }}</div>
                </div>
                {% post_meta answer 'pble-a-item' %}

                <div class="pble-a-item-c-list">
                    {% comment_list answer.question answer %}
                </div>
                <label for="comment-a-{{ answer.pk }}">{% trans 'Add comment' %}</label>
                <input type="checkbox" id="comment-a-{{ answer.pk }}" class="add-comment">
                <div class="comment-form pble-c-form" {# style="display: none;" #}>
                    <h2>{% trans 'Your comment on this answer' %}:</h2>
                    <form action="{% url 'pble_questions:comments:submit:a' question.pk answer.pk %}" method="post" class="pure-form pure-form-stacked">
                        {% csrf_token %}
                        {{ comment_form.media }}
                        {{ comment_form }}
                        <br/>
                        <button type="submit" class="pure-button pure-button-primary">{% trans 'Submit' %}</button>
                    </form>
                </div>
            </div>
            <div class="pble-a-item-clear"></div>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans 'There are currently no answers' %}.</p>
{% endif %}