{% load i18n %}
{% load questions %}
{% if categories %}
<div class="pble-nav-cat">
    <div class="pble-nav-cat-list pble-nav-cat-list-1">
        <ul>
        <li class="pble-nav-cat-item pble-nav-cat-all">{% trans 'All categories' %}:</li>

        {% for category in categories %}
            <li class="pble-nav-cat-item"><a href="{% url 'pble_questions:category' category.name %}">{{ category.name }}</a> ({{ category.cardinality }})</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}