{% load questions %}
{% load i18n %}
{% if comments %}
    {% for comment in comments %}
        <div class="pble-c-list-item hentry comment">
            <div class="pble-c-item-content">
                {{ comment.body|safe }}
            </div>
            <div class="pble-c-item-footer">
                {% post_meta comment %}
                <div class="pble-c-item-buttons">
                    {% if user == comment.author %}
                    <a href="{% url 'pble_questions:edit' 'comment' comment.pk %}" class="pble-form-light-button pble-form-light-button-edit" style="text-decoration: none; color: inherit;">{% trans 'Edit' %}</a>
                    {% endif %}
                </div>
            </div>
            <div class="pble-c-item-clear"></div>
        </div>
    {% endfor %}
{% endif %}