{% load questions %}
{% load users %}
{% load i18n %}

<div class="pble-q-list">
{% if questions %}
    {% for question in questions %}
        <div class="pble-q-list-item">
            <div class="pble-q-item-stats">
                {% voting question %}
                <span class="pble-a-count">
                    <span class="pble-a-count-data">{{ question.answer_set.count }}</span><span class="pble-a-count-pad"> {% trans 'answers' %}</span>
                </span>
            </div>
            <div class="pble-q-item-main">
                <div class="pble-q-item-title">
                    <a href="{% url 'pble_questions:detail' question.pk %}">{{ question.title }}</a>
                </div>
                {% post_meta question %}
                {% tag_list question %}
            </div>
            <div class="pble-q-item-clear"></div>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans 'No questions at the moment' %}.</p>
{% endif %}
</div>
