{% load questions %}
{% load users %}
{% if questions %}
    {% for question in questions %}
        <div class="question pure-g">
            <div class="vote pure-u-1-8">
                <a href="{% url 'questions:upvote' question.pk %}" class="button-xsmall pure-button"><i class="fa fa-thumbs-up fa-1g" aria-hidden="true"></i></a>
                <p>{{ question.votes }}</p>
                <a href="{% url 'questions:downvote' question.pk %}" class="button-xsmall pure-button"><i class="fa fa-thumbs-down fa-1g" aria-hidden="true"></i></a>
            </div>
            <div class="question-body pure-u-7-8">
                <a href="{% url 'questions:detail' question.pk %}"><b>{{ question.title }}</b></a><br />
                {% tag_list question %}
                Asked by <i>{% get_user question.author question.anonymous %}</i>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No questions at the moment.</p>
{% endif %}