<div class="pble-activity-count">
    <p class="pble-activity-count-item">
        <span class="pble-activity-count-data">{{ questions_count }}</span> questions
    </p>
    <p class="pble-activity-count-item">
        <span class="pble-activity-count-data">{{ answers_count }}</span> answers
    </p>
    <p class="pble-activity-count-item">
        <span class="pble-activity-count-data">{{ comments_count }}</span> comments
    </p>
    <p class="pble-activity-count-item">
        <span class="pble-activity-count-data">{{ users_count }}</span> users
    </p>
</div>