{% load i18n %}

{% if top_challenges %}
    <div class="pble-nav-cat-list pble-nav-cat-list-1">
        <ul>
            <li class="pble-nav-cat-item pble-nav-cat-all">{% trans 'Newest bounties' %}:</li>

        {% for challenge_q in top_challenges %}
            <li class="pble-nav-cat-item"><a href="{% url 'pble_questions:detail' challenge_q.id %}">{{ challenge_q.title }}</a> ({{ challenge_q.bounty }})</li>
        {% endfor %}
        </ul>
    </div>
{% else %}
    <p>{% trans 'No bounties have been posted lately.' %}</p>
{% endif %}