{% load admin_urls %}
{% load i18n %}
<div class="pble-nav-main">
    <ul class="pble-nav-main-list">
        {% for field in menu %}
            <li class="pble-nav-main-item"><a href="{% url field.lookup %}" class="pble-nav-main-link">{{ field.title }}</a></li>
        {% endfor %}
        {% if user.is_staff or user.is_superuser %}
            <li class="pble-nav-main-item"><a href="{% url 'news_article_write' %}" class="pble-nav-main-link">{% trans 'Write article' %}</a></li>
            <li class="pble-nav-main-item"><a href="{% url 'admin:index' %}" class="pble-nav-main-link">{% trans 'Admin' %}</a></li>
        {% endif %}
    </ul>
</div>