{% extends 'subscriptions/base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Tags you are subscribed to:' %}</h1>
    <div class="pble-part-ranking">
    {% for tag in sub_tags %}
        <span class="pble-ranking-item pble-top-tags-item">
            <span class="pble-top-tags-label"><a href="{% url 'pble_subscriptions:subscribe_tag' tag.id %}" class="pble-tag-link">{{ tag.tag }}</a></span>
            <!-- TODO: set proper href to category sub/unsub -->
        </span>
    {% endfor %}
    </div>

    <h1>{% trans 'Tags you are <u>not</u> subscribed to:' %}</h1>
    <div class="pble-part-ranking">
    {% for tag in not_sub_tags %}
        <span class="pble-ranking-item pble-top-tags-item">
            <span class="pble-top-tags-label"><a href="{% url 'pble_subscriptions:subscribe_tag' tag.id %}" class="pble-tag-link">{{ tag.tag }}</a></span>
            <!-- TODO: set proper href to category sub/unsub -->
        </span>
    {% endfor %}
    </div>
{% endblock %}
