{% extends base_template %}
{% load users %}

{% block content %}
    <h1>List of users:</h1>
    <div class="pble-part-ranking">
        {% if users %}
            {% for user in users %}
                <span class="pble-ranking-item pble-top-users-item">
                    <span class="pble-top-users-label">{% get_user user %}</span>
                    <span class="pble-top-users-score">{{ user.userprofile.points }}</span>
                </span>
            {% endfor %}
        {% else %}
            <p> No registered user(s) at the moment.</p>
        {% endif %}
    </div>
{% endblock %}
