{% extends base_template %}
{% load i18n %}

{% block sub_menu %}
    <ul class="pble-nav-sub-list">
        <li class="pble-nav-sub-item"><a href="{% url 'pble_questions:new' %}" class="pble-nav-sub-link">{% trans 'Recent' %}</a></li>
        <li class="pble-nav-sub-item pble-nav-sub-hot"><a href="{% url 'pble_questions:hot' %}" class="pble-nav-sub-link">{% trans 'Popular' %}!</a></li>
        <li class="pble-nav-sub-item"><a href="{% url 'pble_questions:unanswered' %}" class="pble-nav-sub-link">{% trans 'Unanswered' %}</a></li>
    </ul>
{% endblock %}