{% extends base_template %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Tags' %}:</h1>
    <div class="pble-part-ranking">
    {% for tag in tags %}
        <span class="pble-ranking-item pble-top-tags-item">
            <span class="pble-top-tags-count">{{ tag.question_set.count }} &#215;</span>
            <span class="pble-top-tags-label"><a href="{% url 'pble_questions:tag' tag.tag %}" class="pble-tag-link">{{ tag.tag }}</a></span>
        </span>
    {% endfor %}
    </div>
{% endblock %}