.question {
    border: #000 1px solid;
    margin: 1em;
}

.vote {
    text-align: center;
    background-color: #dadada;
}

.question-body {
    /*padding: 1em;*/
}

.answer {
    margin: 1em;
}

.add-comment {
    display: none;
}

.add-comment:checked + .comment-form {
    display: block;
}

.comment-form {
    display: none;
}